*{
    padding:0;
    margin:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
header{
    height: 100px;
    background: #a13535;
    padding: 0 50px;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    text-transform: uppercase;
    color:antiquewhite;
    font-weight: 200;
}
.menu a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}
.mostrar-menu, .esconder-menu{
    font-size:30px;
    cursor:pointer;
    display:none;
    transition:0.4s;
}
.mostrar-menu{
order:1;
}
.menu a:hover, .mostra-menu:hover, .esconder-menu:hover{
    color: floralwhite;
}
#check{
    display:none;
}
/*banner*/
#banner{
    padding: 0 50px;
    background-image: url(image.jpg);
    height: 45vh;
    background-size: cover;
    background-position: center;
    
}
#banner::before{
    content: '';
    background: rgba(77, 77, 92, 0.6);
    position:absolute;
    width: 100%;
    height: 45vh;
    left: 0;

}
.contenido-banner{
    position: relative;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenido-banner h3{
    font-size: 40px;
    font-weight: 400;
    padding: 10px 0px;
    transition: 0.3s;
}
.contenido-banner h3 span{
    font-weight: 600;
}
.boton-empezar{
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color:wheat;
    border: 2px solid #a13535;
    padding: 15px 40px;
    align-self: baseline;
    box-shadow: 0 2px 3px 3px rgba(0,0,0,0.3);
    transition: all 0.3s;
    margin:20px;
    text-transform: uppercase;
}
.boton-empezar:hover{
    background: #7c2f2f;
}
div{
    display: block;
}
fieldset{
    padding: 20px 50px;
    border:none;
    display: block;
}
.col1{
    float: left;
    width: 40%;
    text-align: justify;
}
.col2{
    float:right;
    width: 35%;
    text-align: justify;
    padding-right: 40px;
}
/*responsive*/
@media(max-width:768px)  {
    .mostrar-menu, .esconder-menu{
        display:block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #a13535;
        right: -100%;
        top:0;
        text-align: center;
        padding: 100px 0px;
        z-index:100;
        transition: 0.8s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right:0;
    }
}